.logo {
    float: left;
    line-height: 85px;
    padding: 30px 0 0 40px
}
.logo img:nth-child(2){
    display: none
}
.black .logo img:nth-child(1){
    display: none
}
.black .logo img:nth-child(2) {
    display: inline-block
}
.logo a{
    display: block
}
.search {
    float: right;
    line-height: 0;
    padding: 40px 25px 0 0
}

.search h6 {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
    color:#fff;
}

.search form {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.search form.ac {
    width: 214px
}

.search form input {
    border: none;
    outline: none;
    border-bottom: 1px solid #006cb8;
    margin: 0 10px;
    background: transparent
}

.search button {
    border-radius: 4px;
    padding: 0 5px;
    line-height: 40px;
    background: #006cb8;
    color: #fff
}

.btn span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin-top: 4px;
    position: relative;
}

.btn.ac span:nth-child(2){
    width: 19px
}


.btn.ac span:nth-child(3) {
    width: 13px
}

.btn {
    float: right;
    border-radius: 2px;
    position: relative;
    z-index: 50;
    padding: 44px 40px 0 0;
    cursor: pointer;
    text-align: left
}

.language {
    float: right;
    color: #fff; 
    font-size: 16px;
    margin-right: 25px;
    padding-top: 38px
}

.language a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 0 5px
}

.language a:hover {
    color: #e31d1a
}

.nav {
    float: right;
    padding: 38px 35px 0 0;
    font-size: 16px;
    color:rgba(135,135,135,.2)
}

.nav a{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    color:#fff;
    font-family: 'h';
}
.nav_none .nav {
    opacity: 0;
    pointer-events: none
}
.nav_none.op .nav {
    opacity: 1;
    pointer-events: all
}
.black .nav a,
.black .search h6,
.black .language a,
.black .language {
    color:#282828
}
.black .btn span{
    background: #282828
}
.nav a:hover{
    color:#006cb8
}

header{
    width: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    position: absolute
}
footer{
    background: #1d2123;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url(../img/f_logo.png);
    padding-top: 20px
}
.f_list li{
    display: inline-block;
    width: 26.8%;
    box-sizing: border-box;
    border-right: 2px solid rgba(255,255,255,.03);
    padding: 0 45px;
    vertical-align: top
}
.f_list li:first-child{
    padding-left: 0
}
.f_list li:nth-child(4){
    width: 19.6%;
    padding: 0;
    border-right: none;
    text-align: right
}
.ewm{
    text-align: center
}
.ewm span{
    display: block;
    font-size: 14px;
    color:rgba(255,255,255,.2)
}
.section5,.section5>div{
    height: auto !important
}
.f_list li h3{
    color:#878787;
    line-height: 28px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.f_list li p{
    color:#878787;
    line-height: 28px;
    font-size: 16px;
}
.copyrright{
    margin-top:90px;
    border-top: 1px solid rgba(255,255,255,.2);
    padding: 15px 0
}
.copyrright p{
    float: left;
    color:#878787;
}
.link {
    float: right;
}
.link a{
    display: inline-block;
    padding: 0 9px;
    border-right: 1px solid #6b6b6b;
    font-size: 16px;
    line-height: 17px;
    color:#6b6b6b
}
.link a:last-child{
    border-right: none
}
.link a:hover{
    color:#fff
}
.cbl{
    position: fixed;
    z-index: 20;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}
.cbl li{
    margin-bottom: 3px;
    background: #99b1c2;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
}
.cbl li a{
    display: block;
    font-size: 0;
    line-height: 0
}
.cbl h6{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#fff;
    font-size: 22px;
    display: inline-block
}
.cbl li:hover{
    background: #003d67
}
.cbl li span {
    display: inline-block;
    line-height: 50px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    padding:0 15px;
    white-space: nowrap
}
/*.cbl li:first-child:hover{
    width: 250px;
    background-image: url(../img/cblbac_02.jpg);
    background-repeat: no-repeat;
    background-size: cover
}*/