.swiper-slide{text-align:center;}
.section1 .swiper-button-prev,
.section1 .swiper-button-next {
    width: 32px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    background: rgba(0, 78, 134, .3)
}
.section1 .swiper-slide>img{
    width: auto;
    height:100vh; 
}
.section1 .swiper-slide>img:nth-child(2){
    display: none
}
.section1 .swiper-button-prev {
    left: 40px;
}	

.section1 .swiper-button-next {
    right: 40px;
}

.section1 .swiper-button-prev h6,
.section1 .swiper-button-next h6 {
    line-height: 95px;
    color: #fff
}

.section1 .swiper-button-prev:hover,
.section1 .swiper-button-next:hover {
    background: rgba(0, 78, 134, 1)
}

.section1 .swiper-pagination {
    width: 100%;
    padding-left: 13.8%;
    box-sizing: border-box;
    text-align: left;
    bottom: 5%
}

.section1 .swiper-pagination .swiper-pagination-bullet {
    font-size: 18px;
    color: #ccc;
}

.section1 .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
    opacity: 1;
    font-family: 'hnl';
}

.section1 .swiper-pagination-bullet:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 2px;
    background: #006cb8;
    vertical-align: middle;
    margin: 0;
}

.section1 .swiper-pagination-bullet:last-child:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 2px;
    background: #006cb8;
    vertical-align: middle;
    margin: 0
}

.section1 .swiper-pagination-bullet-active:after {
    /*width: 160px;
    margin: 0 5px*/
}

.section1 .swiper-pagination .swiper-pagination-bullet-active {
    color: #006cb8
}

.section1 .swiper-pagination-bullet-active:last-child:after {
    /*display: none*/
}

.section1 .swiper-pagination-bullet.swiper-pagination-bullet-active:last-child:before {
    /*width: 160px;
    margin: 0 5px*/
}

.s1_txt {
    position: absolute;
    width: 100%;
    top: 50%;
    padding-left: 13.54%;
    box-sizing: border-box;
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 0;
}

.active .swiper-slide-active .s1_txt {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.s1_txt h2 {
    color: #fff;
    font-size: 85px;
    font-family: 'h';
    line-height: 86px
}

.s1_txt h3 {
    font-size: 46px;
    color: #fff;
    font-family: 'fzzyt';
    line-height: 65px
}

.se2_left {
    width: 42.35%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.se2_left img {
    width: 100%
}

.se2_right {
    display: inline-block;
    width: 57.65%;
    box-sizing: border-box;
    vertical-align: middle;
    padding-left: 96px;
    opacity: 0;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.index_tit {
    position: relative;
}

.index_tit h2 {
    font-size: 132px;
    color: rgba(75, 130, 176, .1);
    position: absolute;
    left: -192px;
    font-family: 'h';
    white-space: nowrap;
    text-transform: uppercase
}

.index_tit h3 {
    color: #282828;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.index_tit h4 {
    color: #282828;
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
    margin-bottom: 65px
}

.se2_right p {
    line-height: 26px;
    color: #919191;
    font-size: 16px;
    opacity: 0;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.se2_right ul {
    margin-top: 80px;
    opacity: 0;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
}
.active .se2_right ul,
.active .se2_right p,
.active .se2_right,
.active .se2_left {
     opacity: 1;
     transform: translateX(0);
     -ms-transform: translateX(0);
     -webkit-transform: translateX(0);
}
.se2_right li {
    display: inline-block;
    width: 33.333%;
    font-size: 0;
}

.se2_right li a {
    display: block;
    font-size: 0
}

.se2_right li h2 {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #282828;
    vertical-align: middle;
    margin-left: 25px;
    line-height: 25px;
}

.se2_right li h2 span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #919191;
    font-weight: normal;
    line-height: 18px
}

.se2_right li:hover h2 {
    color: #003d67
}

.cpimg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.cpimg img {
    width: 100%;
    height: 100%
}

.cpimg li {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%
}

.cpimg li.ac {
    display: block
}

.cpbanner {
    height: 100vh;
}

.cpbanner .swiper-container {
    height: 100%
}

.cpbanner .swiper-slide {
    text-align: center
}

.cpbanner .swiper-slide:before {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/cpback_02.png) no-repeat 100% 100%;
    opacity: 0;
    background-size: 100% 100%
}

.cpbanner .swiper-slide:hover:before {
    opacity: 1;
}

.cpbanner .swiper-slide a {
    display: block;
    height: 100%
}
.cpbanner .swiper-button-prev,
.cpbanner .swiper-button-next{
    display: none
}
.cp_content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0
}

.cp_content img:nth-child(2) {
    display: none
}

.cp_content h2 {
    margin-top: 25px;
    color: #ffffff;
    font-size: 24px
}

.cp_box {
    padding-top: 60px;
    display: none
}

.cp_content p {
    display: inline-block;
    width: 60%;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 45px
}

.cp_content font {
    height: 52px;
    line-height: 0;
    display: inline-block;
    width: 194px;
    border-radius: 52px;
    box-sizing: border-box;
    border: 0px solid rgba(255, 255, 255, .3);
    position: relative;
	background: #1178b7;
    overflow: hidden;
}

.cp_content font:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    background: #113361
}

.cp_content font:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    background: #113361; 
}

.cp_content font:hover:after {
    transform: translateX(50%);
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%)
}

.cp_content font:hover:before {
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%)
}

.cp_content font i {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #fff;
    font-size: 14px;
    z-index: 2;
    line-height: 50px;
    margin-left: 5px
}

.cp_content font b {
    position: relative;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    z-index: 2;
    line-height: 52px;
    display: inline-block
}

.new_left {
    display: inline-block;
    width: 16.64%;
    vertical-align: middle;
}

.newtab h2 {
    width: calc(100% - 25px);
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 0
}

.newtab h2 span {
    display: inline-block;
    line-height: 40px;
    color: #777777;
    font-size: 18px;
    width: calc(100% - 5px);
    vertical-align: middle
}

.newtab h2.ac,
.newtab h2:hover {
    background-image: url(../img/h2bac_03.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.newtab h2.ac span,
.newtab h2:hover span {
    color: #fff
}

.newtab h2 img {
    display: inline-block;
    vertical-align: middle;
    width: 5px
}

.newtab {
    margin-bottom: 85px
}

.new_left>a img:nth-child(2) {
    display: none
}

.new_left>a span {
    color: #282828;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px
}

.new_left>a:hover img:nth-child(1) {
    display: none
}

.new_left>a:hover img:nth-child(2) {
    display: inline-block
}

.new_left>a:hover span {
    color: #006cb8
}

.new_right {
    display: inline-block;
  vertical-align: middle;
    width: 83.36%;
	width: 1000px;
    box-sizing: border-box;
    position: relative;
    padding-left: 40px;
    padding-right: 75px
}
@media screen and (max-width: 1600px) {
    .new_right {
    display: inline-block;
  vertical-align: middle;
    width: 83.36%;
	width: 1000px;
    box-sizing: border-box;
    position: relative;
    padding-left: 40px;
    padding-right: 75px
}
}
@media screen and (max-width: 1400px) {
    .new_right {
    display: inline-block;
  vertical-align: middle;
    width: 83.36%;
	width: 830px;
    box-sizing: border-box;
    position: relative;
    padding-left: 40px;
    padding-right: 75px
}
}
@media screen and (max-width: 1200px) {
    .new_right {
    display: inline-block;
  vertical-align: middle;
    width: 83.36%;
	width: 830px;
    box-sizing: border-box;
    position: relative;
    padding-left: 40px;
    padding-right: 75px
}
}
.new_right .swiper-slide {
    padding: 10px;
    box-sizing: border-box;
    background: #f1f4f8;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    opacity: 1;
}
.last .new_right .swiper-slide {
    opacity: 1;
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
}
.new_right .swiper-slide:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    background-image: url(../img/newbac_03.jpg);
    opacity: 0;
}

.new_right .swiper-slide:hover:before {
    opacity: 1;
}

.new_right .swiper-slide a {
    display: block
}

.new_box {
    position: relative;
    z-index: 2;
    text-align: center;
    line-height: 0
}

.new_box>img {
    width: 100%;
    margin-bottom: 45px; height:180px;
}

.new_box h2 {
    line-height: 26px;
    height:78px;
    color: #282828;
    font-size: 18px;
    width: 80%;
    display: inline-block;
    text-align: left;
	overflow:hidden;
}

.new_box p {
    text-align: left;
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    line-height: 24px;
    color: #777777;
    height: 96px;overflow:hidden;
}

.new_box div {
    display: inline-block;
    width: 80%;
    border-top: 1px solid #d2d2d2;
    padding-top: 5px;
    line-height: 30px;
    margin-top: 10px
}

.new_box span {
    float: left;
    color: #a2a2a2;
    font-size: 12px;
    font-family: 'hnl';
}

.new_box i {
    float: right;
    font-size: 12px;
    color: #a2a2a2
}

.new_right .swiper-slide:hover h2,
.new_right .swiper-slide:hover p,
.new_right .swiper-slide:hover span,
.new_right .swiper-slide:hover i,
.newlist li:hover h2,
.newlist li:hover p,
.newlist li:hover span,
.newlist li:hover i {
    color: #fff
}

.newbtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    z-index: 2;
    display: none
}
.ac .newbtn{
    display: block
}
.newbtn .swiper-button-prev,
.newbtn .swiper-button-next {
    position: static;
    width: 33px;
    height: 78px;
    display: block;
    line-height: 78px;
    text-align: center;
    transform: translateY(0)
}

.newbtn .swiper-button-prev img:nth-child(2),
.newbtn .swiper-button-next img:nth-child(2) {
    display: none
}

.newbtn .swiper-button-prev:hover img:nth-child(2),
.newbtn .swiper-button-next:hover img:nth-child(2) {
    display: inline-block
}

.newbtn .swiper-button-prev:hover img:nth-child(1),
.newbtn .swiper-button-next:hover img:nth-child(1) {
    display: none
}

.newbtn .swiper-button-prev:hover,
.newbtn .swiper-button-next:hover {
    background: #1178b7
}

.new_right:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #f1f4f8;
    position: absolute;
    right: -100%;
    top: 0;
    transform: translateX(-55px)
}

.new_right>div {
    height: 0;
    overflow: hidden;
    /* position: relative; */
}

.new_right>div.ac {
    height: auto
}
.logolist{
    border-top: 2px solid #dfdfdf
}
.logolist.container {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%)
}

.logolist li {
    display: inline-block;
    vertical-align: top;
    width: 16.666%;
    text-align: center
}

.logolist li img {
    max-width: 100%;
    height: auto
}


.footer {
  transition: all 0.5s; }
  .footer.active {
    transform: translateX(-390px); }
    @media (max-width: 500px) {
      .footer.active {
        transform: translateX(-200px); } }
  .footer .footer_top {
    background: #5a5f63; }
    .footer .footer_top .footer_t_cen {
      padding-bottom: 145px;
      padding-top: 80px;
      position: relative; }
      .footer .footer_top .footer_t_cen .gotop {
        width: 36px;
        height: 12px;
        background: url("../../../bocweb/web/img/top.png") no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 30px;
        right: 0;
        cursor: pointer; }
      .footer .footer_top .footer_t_cen .logo {
        display: block;
        float: right; }
      .footer .footer_top .footer_t_cen .flink {
        float: left;
        border-right: 1px solid #6b6f73; }
        .footer .footer_top .footer_t_cen .flink ul li {
          float: left;
          margin-right: 68px; }
          .footer .footer_top .footer_t_cen .flink ul li a {
            display: block;
            font-size: 14px;
            line-height: 26px;
            color: #999;
            transition: all 0.3s; }
            .footer .footer_top .footer_t_cen .flink ul li a.large {
              color: #ccc;
              font-weight: bold; }
            .footer .footer_top .footer_t_cen .flink ul li a:hover {
              color: #f18d00; }
  .footer .footer_b {
    width: 100%;
    height: 155px;
    background: #51565a; }
    .footer .footer_b .footer_b_cen {
      height: 100%; }
      .footer .footer_b .footer_b_cen .tab {
        width: 100%;
        height: 100%;
        display: table; }
        .footer .footer_b .footer_b_cen .tab .tab_cell {
          display: table-cell;
          vertical-align: middle; }
          .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l {
            float: left; }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .share {
              display: block;
              }
              @media (max-width: 500px) {
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .share {
                  margin-bottom: 8px; } }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .share a {
                margin-right: 5px;
                width: 28px;
                height: 28px;
                display: inline-block;
                padding: 0;
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 0;
                background-size: cover !important; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .share a.bds_fbook {
                  background:#73777a; border-radius:50%; text-align:center; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .share a.bds_linkedin {
                   background:#73777a; border-radius:50%; text-align:center; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .share a.bds_youtube {
                   background:#73777a; border-radius:50%; text-align:center;}
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .share a.bds_weixin {
                  background: url("../../../bocweb/web/img/f4.png") no-repeat !important; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .share a.bds_tsina {
                  background: url("../../../bocweb/web/img/f5.png") no-repeat !important; }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .con {
              font-size: 12px;
              line-height: 22px;
              color: #fff; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .con p {
                display: inline-block;
                color: #999; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .con a {
                color: #999;
                transition: all 0.3s;
                text-transform: uppercase; }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .link a {
              display: inline-block;
              font-size: 12px;
              line-height: 14px;
              color: #fff;
              filter: alpha(opacity=50);
              opacity: 0.5;
              display: inline-block;
              vertical-align: middle; }
              @media (min-width: 1024px) {
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .link a:hover {
                  color: #f18d00; } }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .link span {
              display: inline-block;
              vertical-align: middle;
              width: 2px;
              height: 14px;
              background: #898c8f;
              margin: 0 10px;
              font-size: 0; }
          .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r {
            float: right; }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code {
              margin-left: 45px;
              float: left; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code .tu {
                width: 102px;
                height: 102px;
                overflow: hidden;
                border-radius: 3px;
                float: left; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code .tu img {
                  width: 100%;
                  height: auto; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code .txt {
                float: left;
                margin-top: 30px;
                margin-left: 25px; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code .txt .t {
                  font-size: 16px;
                  line-height: 24px;
                  color: #fff; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code .txt .con {
                  font-size: 12px;
                  line-height: 20px;
                  color: #ccc; }
  @media (max-width: 1460px) {
    .footer .footer_top .footer_t_cen {
      padding-bottom: 125px;
      padding-top: 70px; }
      .footer .footer_top .footer_t_cen .flink ul li {
        margin-right: 60px; }
      .footer .footer_top .footer_t_cen .logo img {
        width: 200px;
        height: auto; } }
  @media (max-width: 1400px) {
    .footer .footer_top .footer_t_cen .flink ul li {
      margin-right: 50px; } }
  @media (max-width: 1320px) {
    .footer .footer_top .footer_t_cen .flink ul li {
      margin-right: 45px; } }
  @media (max-width: 1270px) {
    .footer .footer_top .footer_t_cen .logo img {
      width: 180px;
      height: auto; }
    .footer .footer_top .footer_t_cen .flink ul li {
      margin-right: 40px; } }
  @media (max-width: 1200px) {
    .footer .footer_top .footer_t_cen .logo img {
      width: 180px;
      height: auto; }
    .footer .footer_top .footer_t_cen .flink ul li {
      margin-right: 30px; } }
  @media (max-width: 1120px) {
    .footer .footer_top .footer_t_cen .logo img {
      width: 150px;
      height: auto; }
    .footer .footer_top .footer_t_cen .flink ul li {
      margin-right: 22px; }
    .footer .footer_b {
      height: 180px; }
      .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r {
        float: right; }
        .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code:first-child {
          margin-left: 0; }
        .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code {
          margin-left: 25px;
          float: left; } }
  @media (max-width: 1024px) {
    .footer .footer_top {
      display: none; }
    .footer .footer_b {
      height: auto; }
      .footer .footer_b .footer_b_cen {
        padding: 20px 0; }
        .footer .footer_b .footer_b_cen .tab {
          display: block; }
          .footer .footer_b .footer_b_cen .tab .tab_cell {
            display: block; }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l {
              width: 100%;
              float: none; }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r {
              width: 100%;
              margin-top: 15px;
              float: none; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code:first-child {
                margin-left: 0; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code {
                margin-left: 25px;
                float: left; } }
  @media (max-width: 500px) {
    .footer .footer_b {
      height: auto; }
      .footer .footer_b .footer_b_cen {
        padding: 20px 0; }
        .footer .footer_b .footer_b_cen .tab {
          display: block; }
          .footer .footer_b .footer_b_cen .tab .tab_cell {
            display: block; }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l {
              width: 100%;
              text-align: center;
              float: none; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_l .con p {
                display: block; }
            .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r {
              width: 100%;
              margin-top: 15px;
              float: none;
              text-align: center; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code:first-child {
                margin-left: 0; }
              .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code {
                margin: 0 15px;
                float: none;
                display: inline-block; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code .tu {
                  width: 90px;
                  height: 90px;
                  float: none; }
                .footer .footer_b .footer_b_cen .tab .tab_cell .content .cont_r .code .txt {
                  padding-top: 10px;
                  float: none;
                  margin-top: 0;
                  margin-left: 0; } }
				  
				  
.footer-section {
    width: 100%;
    background-color: #212121;
    position: relative;
    /* margin: 0 20px; */
}
.footer-section .footer-top{
width: 92%;
background-color: #212121;
margin: 0 auto;
}
.bg-style {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.no-bottom-padding {
    padding-bottom: 0;
}
.latest-counter-section .container-fluid {
    width: 97%;
}
.footer-title {
    position: relative;
    border-bottom: 2px dashed #3471c8;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: inline-block;
}
.company-desc p {
    color: #b3b3b3;
    font-size: 14px;
	 margin-bottom:10px;
}
.footer-social {
    border-top: 2px dashed #3471c8;
    margin-top: 30px;
    padding-top: 20px;
    display: block;
}
.quick-link-wrapper{
   /* margin-left: 150px;*/
}
.quick-link-wrapper li {
    list-style: none;
    line-height: 200%; width:100%; overflow:hidden;

}
.col-md-3 {
    width: 25%; float:left;
}
.col-md-29 {
    width: 22%; float:left;
}
.col-md-10 {
    width: 10%; float:left;
}

.fb-item-date {
    float: left;
    margin-right: 15px;
}

.footer-8 .cd-icon {
    float: left;
    margin: 0;
    margin-right: 10px;
    margin-top: 8px;
}

.quick-link-wrapper li a {
    list-style: none;
    color: #b3b3b3;
    position: relative;
    padding-left: 0px;
    font-size: 14px;
}
.cd-content p span {
    color: #b3b3b3;
}
.cd-content p {
    margin-bottom: 0;
    color: #3471c8;
    font-size: 14px;
}
.footer-bottom-wrapper {
    margin-top: 40px;
	position:absolute; bottom:0; width:100%
}
.footer-bottom-wrapper {
    background-color: #141414;
    padding: 15px 0;
    margin-top: 330px;
     height:60px; 
     /* margin-top:20px; */
}
.class_footer_row{
    width: 92%;
    margin: 0 auto;
}
.footer-social li a {
    color: #c3c3c3;
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    margin-right: 6px;
    display: block;
}
.footer-social li {
    margin-right: 0;
}
.footer-social li {
    display: inline-block;
}
.footer-cd{
    margin-left: 100px;
}
.footer-cd li {
    margin-bottom: 12px;
    clear: both;
}

.footer-credit p {
    margin-bottom: 0;
    color: #b3b3b3;
    font-size: 0.9em;
}
.footer-policy-link li {
    border-right: 1px solid #b3b3b3;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
}
.footer-policy-link li a {
    color: #b3b3b3;
}

.col-md-6{
     width:50%;
      color:#fff;
      /* margin-right: 60px; */
       line-height:30px;
        float:left;
    }
    .col-md-6>.classP{
        /* margin-right: 222px;*/
    }
	
	
	
/*about*/
.col-md-12{ width:100%; height:auto; float:left;}
.nyabout{ width:100%; height:auto; padding:50px 3%; float:left; font-family:Arial, Helvetica, sans-serif;}
.aboutimg{ float:left; width:40%;}
.aboutwz{ float:left; width:54%; padding-right:9%;text-align: justify;}
.aboutwz P{ margin-bottom:0;}
.biaoti1{ font-size:34px; font-weight:bold; line-height:60px;}
.biaoti1 span{ color:#51b8f1;}
.biaoti2{ font-size:18px;  color:#51c7f6; font-family:Geneva, Arial, Helvetica, sans-serif; line-height:40px; padding-bottom:20px;}

.advatage{ width:100%; height:auto; padding:50px 3%; background:url(../../../images/about_099.jpg) repeat; float:left;}
.advatage li{ width:32%; height:160px; padding-top:20px; background:#fff; padding-right:3%; float:left; margin-right:2%; }
.advatage li:nth-child(3){ margin-right:0px;}
.advatage li p{ margin-bottom:0px;line-height:20px; color:#999999; font-size:12px;}
.advatage li img{ margin-bottom:50px; float:left; margin-right:20px;}
.advatage li p.biaoti3{ font-size:16px; font-weight:bold; height:40px; line-height:20px; color:#000;}
.size20{ font-size:20px; font-weight:bold;}

.biaoti4{ width:100%; text-align:center; font-size:36px; font-weight:bold; line-height:50px;text-transform:uppercase;}
.certification{ float:left; width:100%; height:auto; padding:50px 3%;}
.certificationullist li{ width:23%; height:auto; float:left; margin-right:1%; margin-left:1%; padding-top:30px;}
.certificationullist li img{ width:100%; height:auto;}

.aboutxyei{ float:left; width:100%; background:#ebf0ff; padding:40px 3%;}
.aboutxyei p{ margin:0;}
.aboutxyei li{ float:left; width:23%; background:#fff; text-align:center; margin:0 1%; padding:30px 0px;}

 
/*product*/
.nycpmain{ width:100%; height:auto; padding:50px 3%; float:left;}
.productnav{ width:19%; height:auto; padding:20px 0px; background:#fff; box-shadow: 2px 0px 8px  #ccc; float:left; margin-right:1%;}
.productnav li{ width:100%; height:auto; border-bottom:#eee dotted 2px; line-height:24px; padding:3px 3%; float:left;word-wrap:break-word}
.productnav li a{ line-height:24px;}
.productnav li a:hover{ color:#51b8f2;}
.productnav li a.current{ color:#51b8f2;}
.productlist{ float:left; width:80%; height:auto;}
.productlist li{ width:18%; float:left; margin:0 1%; margin-bottom:10px;word-wrap:break-word; line-height:20px; font-weight:bold; }
.l-img-div{width:100%;height:0;position: relative;padding-bottom: 100%}
.l-img-div img{width:100%;height:100%;position: absolute;}
.productlist li p{ line-height:20px; height:60px; text-align:center;}
.productlist li a{ line-height:20px; }
.productlist li:hover{box-shadow: 0px 0px 5px #ccc;}
.btproduct{ width:100%; height:40px; padding:0 3%; line-height:40px; color:#000; border-bottom:#ccc solid 1px; float:left; margin-bottom:10px;}
.btproduct p{ margin-bottom:0px;  font-size:16px;}

/*news*/
.newsmain{ width:100%; height:auto; padding:50px 3%; float:left;}
.newsmain li{ float:left; width:23%; margin-right:1%; margin-left:1%; padding:15px; background:#f1f4f8; margin-bottom:20px;}
.newsmain li p{ margin-bottom:0px;}
.newsmain li h2{ line-height:20px; height:70px; padding:10px 0px; margin-bottom:10px; font-size:16px; overflow:hidden;}
.newsmain li p{ line-height:20px;}
.newsmain li p.newsms{ font-size:13px; color:#999; margin-bottom:20px;height:80px; overflow:hidden;}
.newsmain li p.newstime{ font-size:13px; border-top:#ccc solid 1px; color:#999; line-height:40px;}
.yema{ width:100%; float:left; text-align:center; height:50px; line-height:50px; margin-top:20px;}
.yema a{ padding:8px 12px; margin:0 5px; background:#f1f4f8;}

/*contact*/
.contatmain{ width:100%; height:auto; padding:50px 3%; float:left;}
.contactleft{ float:left; width:50%; padding-right:3%; color:#666666; }
.contactleft p{ line-height:24px; margin-bottom:10px;}
.size16{ font-size:16px;}
.contactright{ float:left; width:50%; height:auto;}
.input001{ width:100%; height:40px; line-height:40px; border:#ccc solid 1px; padding:5px;}
#table00 td{ padding:5px;}
.txtara1{ width:100%; height:100px; line-height:20px; border:#ccc solid 1px; padding:5px; color:#666;}
.btn001{ width:100px; height:36px; border:0; line-height:36px; border:#ccc solid 1px; border-radius:5px;}

.newsview{ width:100%; height:auto; padding:50px 3%; float:left;}
.newsbitaiot{ font-size:24px; font-weight:bold; font-style:italic; color:#103260;}
.newsview p{ margin-bottom:15px; line-height:22px;}
.newstime{ font-size:16px;  font-style:italic; color:#ccc; padding:5px 0px; }

.cpviewright{ float:left; width:50%; height:auto; padding-left:3%;}
.cpviewmain{ border:#ccc solid 1px; width:94%; height:auto; float:left; margin:0 3%; padding:20px; margin-bottom:50px;}
.cpviewmain p{ /*max-width:1440px; margin:0 auto;*/}
.description{ width:200px; height:50px; line-height:50px; background:#52baf9; color:#fff; font-weight:bold; margin-left:3%; text-align:center;}
.description p{ line-height:50px; font-weight:bold; font-size:24px; font-style:italic; }
.cpviewmain img{ width:100%}

