@media only screen and (max-width:1680px) {
	.ej_tit h2 {
		font-size: 100px
	}

	.container {
		width: 1200px
	}

	.cpxq_right {
		padding-left: 110px
	}

	.np a {
		padding: 10px 0
	}

	.ejnav .container a {
		line-height: 48px;
		font-size: 14px;
	}

	.ejnav .container {
		height: 50px
	}

	.ejnavtit h2 {
		font-size: 36px
	}

	.cptxt {
		padding: 0 60px 0 110px
	}

	.cptxt h2 {
		margin-bottom: 30px;
		font-size: 20px
	}

	.cptxt h2:after {
		margin-top: 32px
	}

	.yjjzg h3 {
		font-size: 16px;
		line-height: 30px
	}

	.spirit {
		padding: 90px 0 45px
	}

	.f_list li p {
		font-size: 14px;
	}

	.ejnavtit {
		padding: 25px 0 28px;
	}

	.fzlist li {
		padding: 16px 0
	}

	.index_tit h4 {
		margin-bottom: 35px
	}

	.gsjj_right p {
		font-size: 14px;
		margin-bottom: 24px;
		line-height: 24px
	}

	.gsjj_right>img {
		margin: 30px 0
	}

	.dataNums .tt span {
		font-size: 42px
	}

	.dataNums .dataOne {
		width: 39px
	}

	.zzlist>li p {
		font-size: 14px
	}

	.zz {
		padding: 70px 0 90px;
	}

	.ablist li:nth-child(odd) .a_img {
		padding-right: 35px
	}

	.ablist li:nth-child(odd) .a_txt {
		padding-left: 35px
	}

	.ablist li:nth-child(even) .a_txt {
		padding-right: 35px
	}

	.ablist li:nth-child(even) .a_img {
		padding-left: 35px
	}

	.a_txt p {
		font-size: 14px
	}

	.new {
		padding: 150px 0 60px
	}

	.newlist {
		margin-top: 60px
	}

	.xqinner p {
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 30px
	}

	.xqnp a {
		padding: 10px 0;
		font-size: 14px
	}

	.newxq {
		padding: 40px 0 95px
	}

	.flsm_inner h3 {
		margin-bottom: 20px
	}

	.flsm_inner p {
		font-size: 14px;
		margin-bottom: 26px
	}

	.xswl {
		padding: 125px 0 55px
	}

	.xsmap img {
		width: 630px
	}

	.index_tit h2 {
		font-size: 100px;
		left: -140px
	}
}

@media only screen and (max-width:1440px) {
	.container {
		width: 1000px
	}

	.index_tit h2 {
		font-size: 70px;
		left: -120px;
	}

	.se2_right {
		padding-left: 70px
	}

	.cp_content p {
		width: 80%
	}

	.cp_content font {
		height: 40px;
		border-radius: 40px;
		width: 130px
	}

	.cp_content font b {
		line-height: 40px
	}

	.cp_content font i {
		line-height: 38px
	}

	.new_box>img {
		margin-bottom: 15px;height:140px;
	}

	.new_box h2 {
		width: 90%;
		font-size: 14px;
		line-height: 20px;
		height: 60px;overflow:hidden;
	}

	.new_box p {
		font-size: 12px;
		width: 90%;
		line-height: 20px;
		height: 80px;
		margin-top: 10px;
overflow:hidden;
	}

	.index_tit h4 {
		font-size: 18px;
		line-height: 36px
	}

	.newtab h2 span {
		font-size: 16px;
		line-height: 34px
	}

	.f_list li {
		padding: 0 20px
	}

	.copyrright {
		padding: 8px 0
	}

	.cptab {
		margin-top: 35px;
	}

	.ej_tit h3 {
		font-size: 26px;
		line-height: 0;
		margin-left: 10%
	}

	.ej_tit h2 {
		font-size: 66px;
	}

	.flsm_inner .ej_tit h2 {
		left: -60px;
	}

	.cptab a {
		line-height: 32px;
		font-size: 12px;
		width: 15%;
		margin-right: 2% !important
	}

	.cptab a:nth-child(6n) {
		margin-right: 0 !important
	}

	.cptable th {
		padding: 6px 16px
	}

	.cptable th h2 {
		font-size: 14px;
		line-height: 22px
	}

	.cptable th span {
		font-size: 12px;
		display: block;
		line-height: 15px
	}

	.cptable td {
		padding: 2px 16px;
		font-size: 14px
	}

	.cp {
		padding-top: 120px
	}

	.cpxq_right {
		padding-left: 70px
	}

	.np a {
		padding: 6px 0;

	}

	.np a span {
		font-size: 14px;
	}

	.cpxq_right h2:after {
		margin-top: 26px
	}

	.cpxq_right h2,
	.cptxt h2 {
		margin-bottom: 25px;
		font-size: 18px;
	}

	.cpxq_right h4,
	.cpxq_right p,
	.cptxt p {
		font-size: 14px;
		line-height: 26px;
	}

	.cpxq_right h3 {
		font-size: 14px;
		line-height: 26px;
		margin-top: 20px
	}

	.cpxq {
		padding: 40px 0
	}

	.cptxt {
		padding: 0 40px 0 50px
	}

	.lxfs {
		padding: 120px 0 60px
	}

	.zplist li {
		padding: 40px 30px
	}

	.zplist li img {
		max-width: 70%
	}

	.zplist li a {
		width: 110px;
		height: 32px;
	}

	.zplist li a span {
		line-height: 32px
	}

	.zptel {
		padding-left: 100px
	}

	.zptel li img {
		transform: scale(.8) translateX(-20%);
		-ms-transform: scale(.8) translateX(-20%);
		-webkit-transform: scale(.8) translateX(-20%)
	}

	.zptel li span {
		font-size: 14px;
		margin-left: -50px
	}

	.yj,
	.jzg {
		padding: 40px 20px 130px
	}

	.yjjzg img {
		bottom: 30px
	}

	.yjjzg h2 {
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 20px
	}

	.yjjzg h3 {
		font-size: 14px;
		line-height: 24px
	}

	.spirit h2 {
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 40px
	}

	.spirit li {
		margin-bottom: 20px
	}

	.spirit li h5 {
		font-size: 18px;
	}

	.spirit li h6 {
		font-size: 26px
	}

	.spirit li p {
		font-size: 16px;
		line-height: 30px
	}

	.fzlc {
		padding: 130px 0 50px
	}

	.fzlist li h2 {
		font-size: 22px;
		padding-right: 60px;
	}

	.fzlist li h3 {
		font-size: 16px;
	}

	.fzlist li h3 {
		padding-left: 80px
	}

	.ryzz {
		padding: 130px 0 60px
	}

	.rylist li p {
		padding: 10px 6px;
		font-size: 12px;
		line-height: 20px
	}

	.rylist li {
		padding: 6px
	}

	.gsjj {
		padding: 90px 0 60px
	}

	.zzlist {
		margin-top: 40px
	}

	.zz {
		padding: 50px 0 60px
	}

	.dataNums .tt span {
		font-size: 34px;
	}

	.dataNums .dataOne {
		width: 31px
	}

	.zz h3 {
		font-size: 24px
	}

	.a_txt h2 {
		font-size: 24px;
		margin-bottom: 20px
	}

	.a_txt p {
		font-size: 12px;
		line-height: 26px;
		margin-bottom: 26px
	}

	.fgslist {
		padding-top: 35px
	}

	.fgslist li span {
		font-size: 14px;
		display: block;
		line-height: 36px
	}

	.fgs {
		padding: 130px 0 60px
	}

	.newlist li {
		padding: 6px
	}

	.xq_tit h2 {
		font-size: 24px;
	}

	.xq_tit span {
		font-size: 14px;
		margin-top: 12px
	}

	.share div {
		margin-top: 12px
	}

	.xq_tit {
		padding-bottom: 30px
	}

	.xqinner p {
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 26px
	}

	.xqinner h6 {
		font-size: 14px;
		line-height: 26px;
		margin-top: 40px
	}

	.newxq {
		padding: 30px 0
	}

	.xqnp a {
		padding: 5px 0
	}

	.flsm_inner .ej_tit h3 {
		font-size: 26px
	}

	.add li {
		padding: 30px 20px
	}

	.add li span {
		width: 60px;
		height: 60px;
		line-height: 60px
	}

	.add li font {
		font-size: 28px;
	}

	.add li div p {
		font-size: 14px;
		line-height: 24px;
		height: 48px
	}

	.add li div i {
		font-size: 14px
	}

	.xsmap img {
		width: 530px
	}

	.xsmap {
		margin-right: 60px
	}

	.xsfg h2 {
		margin-bottom: 30px;
		font-size: 22px
	}

	.map_item span {
		width: 44px;
		height: 44px;
	}

	.map_item span font {
		width: 20px;
		height: 20px;
	}

	.map_item li:nth-child(1) span font {
		background-size: 80%
	}

	.xsfg {
		left: 0;
		bottom: 80px
	}

	.xsbox h6 .dataNums .tt span {
		font-size: 44px;
	}

	.xsbox h6 .dataNums .dataOne {
		width: 31px
	}

	.xsbox {
		padding: 12px
	}
}

@media only screen and (max-width:1200px) {
	.nav_none .nav {
		opacity: 1;
		pointer-events: visible
	}

	.nav {
		display: none;
		width: 50%;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translateY(100%);
		-ms-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		background: #1178b7;
		padding: 10px 0;
		font-size: 0;
		line-height: 0
	}

	.nav a {
		width: 100%;
		display: block;
		text-align: center;
		padding: 0;
		line-height: 36px;
		color: #fff
	}

	.se2_left {
		display: none
	}

	.se2_right {
		width: 100%;
		padding-left: 0;
		padding: 0 5%
	}

	.container {
		width: 100%;
		padding-left: 5%;
		padding-right: 5%
	}

	.cbl {
		display: none
	}

	.cpbanner .swiper-button-prev,
	.cpbanner .swiper-button-next {
		display: block;
	}

	.cpbanner .swiper-button-prev h6,
	.cpbanner .swiper-button-next h6 {
		font-size: 26px
	}

	.index_tit h4 {
		display: none
	}

	.new_left {
		width: 100%
	}

	.new_right {
		width: 100%;
		padding: 0
	}

	.newtab h2 {
		display: inline-block;
		width: 30%;
		margin-right: 0;
		padding: 0;
		text-align: center;
	}

	.newtab h2:nth-child(3n) {
		margin-right:
	}

	.newtab {
		margin-bottom: 10px
	}

	.newbtn {
		position: static;
		width: 100%;
		text-align: center;
		transform: translateX(0) translateY(0)
	}

	.new_right:after {
		display: none
	}

	.newbtn .swiper-button-prev,
	.newbtn .swiper-button-next {
		width: 35px;
		height: 35px;
		line-height: 35px;
		display: inline-block;
		margin-top: 15px
	}

	.newtab h2 img {
		display: none
	}

	.f_list li {
		display: none
	}

	.f_list li:last-child {
		width: 100%;
		display: block;
		text-align: center;
	}

	.link {
		float: none;
	}

	.gsjj_left {
		display: none
	}

	.gsjj_right {
		width: 100%;
		padding-left: 0;
		padding: 50px 0;

	}

	.ejnavtit {
		display: none
	}

	.ejnav .container {
		text-align: center
	}

	.zzlist>li {
		width: 50% !important;
		text-align: center
	}

	.dataNums .dataOne {
		width: 35px
	}

	.a_img {
		width: 100%;
		margin-bottom: 10px;
		padding: 0 !important;
		transform: translateX(0) !important;
		-ms-transform: translateX(0) !important;
		-webkit-transform: translateX(0) !important;
	}

	.a_txt {
		width: 100%;
		padding: 20px 0 !important;
		transform: translateX(0) !important;
		-ms-transform: translateX(0) !important;
		-webkit-transform: translateX(0) !important;
	}

	.fzlist ul:before {
		display: none
	}

	.fzlist ul:after {
		display: none
	}

	.fzlist li h2 {
		display: block;
		width: 100%;
		text-align: left
	}

	.fzlist li h3 {
		display: block;
		padding-left: 0;
		width: 100%
	}

	.fzlist h2:after {
		display: none
	}

	.fzlist li span:before {
		display: none
	}

	.fzlist {
		width: 100%;
		box-sizing: border-box;
		padding: 0 5%
	}

	.yjjzg {
		border: none
	}

	.yj,
	.jzg {
		display: block;
		width: 100%;
		border: 1px solid #dfdfdf;
		margin-bottom: 15px;
		padding: 14px
	}

	.yjjzg img,
	.yj img {
		position: static;
		transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		margin-top: 20px;
		width: 100%;
		max-width: 100%
	}

	.rylist.container {
		padding: 0;
		width: 90%;
		margin: 40px auto
	}

	.rylist li p {
		font-size: 18px
	}

	.fgslist li {
		width: 49%;
		margin-right: 2%
	}

	.fgslist li:nth-child(3n) {
		margin-right: 2%
	}

	.fgslist li:nth-child(2n) {
		margin-right: 0
	}

	.fgs {
		padding: 60px 5%
	}

	.ej_tit h2 {
		font-size: 40px
	}

	.index_tit h2 {
		font-size: 40px;
		left: 0;
		position: static
	}

	.cpimgs {
		width: 100%
	}

	.cptxt {
		width: 100%;
		padding-bottom: 20px
	}

	.cpimgs:after {
		display: none
	}

	.cptable {
		overflow: scroll
	}

	.cptable table {
		width: 1000px
	}

	.cpxq_left {
		width: 100%;
		padding-right: 0;
		display: block
	}

	.cpxq_right {
		width: 100%;
		padding-left: 0;
		display: block;
		border-left: none
	}

	.newlist li {
		width: 49%;
		margin-right: 2%
	}

	.newlist li:nth-child(2n) {
		margin-right: 0
	}

	.tel img {
		margin-left: 0;
		width: 80%
	}

	.tel {
		margin: 20px 0
	}

	.add li {
		width: 100%;
		margin-right: 0;
		text-align: left;
	}

	.xsfg {
		position: static
	}

	.xsmap {
		float: none;
		width: 100%;
		margin-right: 0
	}

	.xsmap img {
		width: 100%
	}

	.dtdh {
		padding-top: 90px;
	}

	.map {
		margin-top: 20px
	}

	header {
		background: #1178b7;
		padding: 15px 0
	}

	.logo,
	.search {
		padding-top: 0
	}

	.btn {
		padding-top: 7px
	}

	.language {
		padding-top: 4px
	}

	body {
		padding-top: 75px
	}
}

@media only screen and (max-width:414px) {
	.logo {
		width: 120px;
		margin-left: 5%;
		padding-left: 0
	}

	.logo img {
		width: 100%
	}

	.btn {
		margin-right: 5%;
		padding-right: 0;
	}

	.search,
	.language {
		display: none
	}

	.ej_tit h2 {
		position: static;
		font-size: 18px;
	}

	.ej_tit h3 {
		font-size: 16px;
		line-height: 30px;
		margin-left: 0
	}

	.lxfs {
		padding: 30px 5%
	}

	.zptel {
		padding-left: 0
	}

	.zptel li img {
		width: 100%;
		transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
	}

	.zptel li span {
		margin-left: 0
	}

	.zplist li {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px
	}

	body {
		padding-top: 61px
	}

	.xswl {
		padding: 40px 0
	}
	.xsmap>img:nth-child(2){
		display: block;
		width: 100%
	}
	.xsmap>img:nth-child(1){
		display: none
	}
	.xsmap ul{
		display: none
	}
	.xsmap{
		margin-top: 0
	}
	.xsbox{
		padding: 6px;
	}
	.xsbox h6 .dataNums .dataOne {
		font-size: 26px;
		height: 44px;
		width: 18px
	}
	.xsbox h6 .dataNums .tt span{
		font-size: 28px;
		line-height: 44px
	}
	.dataNums{
		height: 44px
	}
	.dataNums .tt span {
		font-size: 20px
	}
	.dataNums .dataOne{
		width: 18px;
		height: 40px;

	}
	.zzlist>li{
		width: 100% !important
	}
	#allmap{
		height: 400px
	}
	.ejnav .container a{
		padding: 0 ;
		width: 33.33%;
		font-size: 12px;
		line-height: 30px;
		text-align: center
	}
	.ejnav .container{
		text-align: left
	}
	.ejnav .container{
		height: auto
	}
	.new{
		padding: 40px 0
	}
	.newlist li{
		width: 100%;
		margin-right: 0
	}
	footer{
		padding-top: 40px
	}
	.copyrright{
		margin-top: 30px
	}
	.copyrright p{
		font-size: 12px;
		line-height: 18px;
	}
	.link a{
		font-size: 12px;
		padding: 0 4px;
		border-right: 0
	}
	.cptab a{
		width: auto;
		padding: 0 5px
	}
	.cp{
		padding-top: 40px
	}
	.cptxt{
		padding: 0 10px 10px
	}
	.cptxt h2{
		font-size: 14px;
		line-height: 24px
	}
	.cpxq_right h4,
	.cpxq_right p,
	.cptxt p{
		font-size: 12px;
		line-height: 20px
	}
	.np a span{
		font-size: 12px;

	}
	.index_tit h2{
		font-size: 20px;
	}
	.index_tit h3{
		font-size: 16px
	}
	.gsjj_right{
		padding-top: 0
	}
	.gsjj{
		padding: 20px 5%
	}
	.a_txt h2{
		font-size: 18px;
		margin-bottom: 10px
	}
	.fzlist li h3{
		font-size: 12px
	}
	.fzlc{
		padding: 40px 0
	}
	.yjjzg h2{
		font-size: 18px;
		line-height: 30px
	}
	.spirit h2{
		color:#282828
	}
	.spirit li h6{
		display: none
	}
	.spirit li h5{
		font-size: 14px;
		display: block;
		color:#282828;
		width: 100%;

	}
	.spirit li div{
		display: block;
		width: 100%
	}
	.spirit li p{
		font-size: 14px;
		color:#282828
	}
	.fgslist li{
		width: 100%;
		margin-right: 0
	}
	#fp-nav{
		display: none
	}
	.s1_txt h2{
		font-size: 20px;
	}
	.s1_txt h3{
		font-size: 14px
	}
	.section1 .swiper-pagination .swiper-pagination-bullet{
		font-size: 12px
	}
	.section1 .swiper-pagination-bullet.swiper-pagination-bullet-active:last-child:before {
		width: 22px
	}
	.section1 .swiper-pagination-bullet-active:after {
		width: 22px
	}
	.section1 .swiper-button-prev{
		left: 5px;
	}
	.section1 .swiper-button-next{
		right: 5px
	}
	.se2_right p{
		font-size: 12px;
		line-height: 20px
	}
	.se2_right ul{
		display: none
	}
	.section1 .swiper-slide>img:nth-child(1){
		display: none
	}
	.section1 .swiper-slide>img:nth-child(2){
		display: block
	}
	.new_box p{
		display: none
	}
	.new_box div{
		display: none
	}
	.logolist li{
		width: 50%
	}
	.new_left>a{
		display: none
	}
	.index_tit h3{
		line-height: 24px
	}
	.newtab h2 span{
		font-size: 14px;
		line-height: 30px;
	}
	.xq_tit h2{
		font-size:18px;
	}
	.xq_tit span{
		font-size: 12px;
		margin-right: 4px
	}
	.newxq{
		margin-top: 10px
	}
	.xqinner{
		padding: 0 12px
	}
	.xqnp a{
		width: 100%;
		margin-bottom: 5px
	}
	.xqnp a span{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}