a,
.search form,
.btn span,
.search h6,
.search,
.language,
.cbl li:first-child,
.cpbanner .swiper-slide:before,
.cp_content font:after,
.cp_content font:before,
.new_right .swiper-slide:before,
.new_box span,
.new_box i,
.new_box p,
.new_box h2,
.fgslist li span,
.fgslist li a:before,
.fgslist li a:after,
.cplist li,
.cptxt h2,
.cplist li span,
.weblist li a:before,
.weblist li a:after,
.weblist li,
.yqljlist li img,
.newlist li:before,
.map_item li p,
.zplist li a:before,
.zplist li a span,
.s1_txt,
.se2_left,
.se2_right,
.new_left,
.new_right .swiper-slide:nth-child(1),
.gsjj_right,
.gsjj_left,
.a_img,
.a_txt {
	transition: all .55s cubic-bezier(.35, .75, .55, 1) 0.1s;
	-webkit-transition: all.55s cubic-bezier(.35, .75, .55, 1) .1s;
	-moz-transition: all.55s cubic-bezier(.35, .75, .55, 1) .1s;
}
.se2_right p,
.new_right .swiper-slide:nth-child(2),
.gsjj_right p {
	transition: all .55s cubic-bezier(.35, .75, .55, 1) 0.5s;
	-webkit-transition: all.55s cubic-bezier(.35, .75, .55, 1) .5s;
	-moz-transition: all.55s cubic-bezier(.35, .75, .55, 1) .5s;
}
.se2_right ul,
.new_right .swiper-slide:nth-child(3) {
	transition: all .55s cubic-bezier(.35, .75, .55, 1) 0.9s;
	-webkit-transition: all.55s cubic-bezier(.35, .75, .55, 1) .9s;
	-moz-transition: all.55s cubic-bezier(.35, .75, .55, 1) .9s;
}
.container {
	width: 1400px;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto
}

.swiper-button-prev,
.swiper-button-next {
	background-image: none;
	margin-top: 0;
	transform: translateY(-50%);
	opacity: 1 !important;
}

.pic img {
	width: 100%
}

.ejnav {
	position: relative;
	border-bottom: 1px solid #ebebeb
}

.ejnavtit {
	width: 34%;
	padding: 40px 0 45px;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateY(-50%);
	background: url(../img/ejnavbac_02.jpg) no-repeat 100% 100%;
	text-align: right;
	box-sizing: border-box;
}

.ejnavtit div {
	text-align: left;
	display: inline-block;
	margin-right: 50px
}

.ejnavtit h2 {
	font-weight: bold;
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ab';
	line-height: 45px;
}

.ejnavtit h3 {
	line-height: 32px;
	font-size: 24px;
	color: #fff;

}

.ejnav .container {
	text-align: right;
	line-height: 0;
	height:59px
}

.ejnav .container a {
	line-height: 57px;
	display: inline-block;
	padding: 0 22px;
	font-size: 16px;
	color: #282828;
	border-bottom: 2px solid transparent
}

.ejnav .container a:hover,
.ejnav .container a.ac {
	color: #f60f14;
	border-color: #f60f14
}

.gsjj_left {
	display: inline-block;
	vertical-align: middle;
	width: 41%;
	position: relative;
	z-index: 2;
	transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	opacity: 0;
}

.gsjj_left img {
	width: 100%
}

.gsjj_right {
	display: inline-block;
	width: 59%;
	box-sizing: border-box;
	padding-left: 98px;
	vertical-align: bottom;
	transform: translateX(100%);
	-ms-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	opacity: 0;
}

.gsjj_right p {
	line-height: 28px;
	margin-bottom: 28px;
	color: #808080;
	font-size: 16px;
	transform: translateX(100%);
	-ms-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	opacity: 0;
}
.active .gsjj_right p,
.active .gsjj_right,
.active .gsjj_left{
	opacity: 1;
	transform: translateX(0)
}

.gsjj_right>img {
	margin-top: 60px;
	margin-bottom: 40px
}

.gsjj {
	padding: 134px 0 110px
}

.zz {
	padding: 114px 0 125px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/zzbac_10.jpg);
	text-align: center
}

.dataNums {
	/* position: absolute; */
	top: 50%;
	display: block;
	width: 100%;
	height: 60px;
	/* margin-top: -37px; */
	text-align: center;
}

.dataNums .dataOne {
	width: 57px;
	height: 60px;
	/* margin: 0px 3px; */
	text-align: center;
	display: inline-block
}

.dataNums .dataBoc {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.dataNums .dataBoc .tt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dataNums .tt span {
	width: 100%;
	height: 100%;
	font: 60px "h";
	color: #1178b7;
	display: block;
}

.zz h2 {
	color: #8b8b8b;
	font-size: 18px;
}

.zz h3 {
	color: #282828;
	font-size: 30px;
	font-weight: bold
}

.zzlist {
	margin-top: 85px
}
.zzlist>li:first-child{
	width: 25%;
}
.zzlist>li {
	display: inline-block;
	vertical-align: top;
	width: 18%;
	text-align: left;
}

.zzlist>li h6 {
	display: inline-block
}

.zzlist>li sup {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	color: #808080;
	margin-left: 5px
}

.zzlist>li p {
	color: #777777;
	font-size: 18px
}

.ablist {
	padding: 120px 0
}

.ablist li {
	margin-bottom: 53px;
	font-size: 0
}

.ablist li:last-child {
	margin-bottom: 0
}

.a_img {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	box-sizing: border-box
}

.a_img img {
	width: 100%
}

.a_txt {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	box-sizing: border-box
}

.ablist li:nth-child(odd) .a_img {
	padding-right: 60px;
	transform: translateX(-100%)
}
.ablist li.active:nth-child(odd) .a_img{
	transform: translateX(0)
}
.ablist li:nth-child(even) .a_img {
	padding-left: 60px;
	transform: translateX(200%)
}
.ablist li.active:nth-child(even) .a_img {
	transform: translateX(100%)
}
.ablist li.active:nth-child(odd) .a_img {
	transform: translateX(0)
}
.ablist li:nth-child(odd) .a_txt {
	padding-left: 60px;
	transform: translateX(100%)
}
.ablist li.active:nth-child(odd) .a_txt{
	transform: translateX(0)
}
.ablist li:nth-child(even) .a_txt {
	padding-right: 60px;
	transform: translateX(-200%)
}
.ablist li.active:nth-child(even) .a_txt{
	transform: translateX(-100%)
}
.a_txt h2 {
	color: #1178b7;
	font-size: 30px;
	margin-bottom: 40px
}

.a_txt p {
	line-height: 28px;
	color: #747474;
	font-size: 16px;
	margin-bottom: 28px
}

.a_txt p:last-of-type {
	margin-bottom: 0
}

.abpic img {
	width: 100%
}

.fzlc {
	padding: 200px 0 50px
}

.ej_tit {
	position: relative;
}

.ej_tit h2 {
	position: absolute;
	font-size: 132px;
	color: rgba(75, 130, 176, .1);
	font-family: 'h';
	text-transform: uppercase;
	top: -45px;
	white-space: nowrap;
}

.ej_tit h3 {
	color: #282828;
	font-size: 36px;
	font-weight: bold;
	display: inline-block;
	line-height: 36px;
	margin-left: 17.14%
}

.fzlist {
	margin: 25px 0 0;
	position: relative;
	padding-top: 157px;
	padding-bottom: 90px
}



.fzlist>.container span img {
	position: relative;
	z-index: 2;
}


.fzlist li {
	font-size: 0;
	padding: 22px 0
}

.fzlist ul:before {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	background: #e1e5eb;
	left: 30%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);

}

.fzlist ul:after {
	content: '';
	display: block;
	width: 65px;
	height: 52px;
	left: 30%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background-image: url(../img/fzlcico_03.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.fzlist li .container {
	padding: 22px 0;
}

.fzlist li h2 {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	text-align: center;
	color: #0177bb;
	font-size: 28px;
	font-family: 'h';
	text-align: right;
	padding-right: 114px;
	box-sizing: border-box;
	position: relative;
}

.fzlist li h3 {
	display: inline-block;
	width: 70%;
	vertical-align: top;
	box-sizing: border-box;
	padding-left: 115px;
	color: #282828;
	font-size: 20px
}

.fzlist li span:before {
	display: inline-block;
	content: '';
	width: 44px;
	height: 1px;
	vertical-align: middle;
	background: #e3e3e3;
	margin: 0 18px
}

.fzlist h2:after {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(../img/dian_03.png);
	background-size: 100% 100%;
	position: absolute;
	right: 0;
	transform: translateX(50%) translateY(-50%);
	-ms-transform: translateX(50%) translateY(-50%);
	-webkit-transform: translateX(50%) translateY(-50%);
	top: 50%
}

.fzlist li:hover {
	background: #e1e5eb
}

.ryzz {
	padding: 205px 0 90px;
}

.rylist {
	margin-top: 90px
}

.rylist li {
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #d9d9d9;
	position: absolute
}
.rylist li:hover{
	border-color: #006cb8
}
.rylist li img {
	width: 100%
}

.rylist li p {
	padding: 20px 15px 10px;
	color: #282828;
	font-size: 18px
}

.fgs {
	padding: 185px 0 80px;
}

.fgslist {
	padding-top: 70px;
}

.fgslist li {
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	width: 32.5%;
	margin-right: 1.25%;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #d8d8d8
}

.fgslist li:nth-child(3n) {
	margin-right: 0
}

.fgslist li span {
	color: #282828;
	font-size: 18px;
	position: relative;
	z-index: 2;
}

.fgslist li a:before {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #006cb8;
	transform: translateX(-110%)
}

.fgslist li a:after {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #006cb8;
	transform: translateX(110%)
}

.fgslist li:hover span {
	color: #fff
}

.fgslist li:hover a:after,
.fgslist li:hover a:before {
	transform: translateX(0)
}

.fgslist li a {
	display: block;
	line-height: 50px
}

.yjjzg {
	margin-top: 75px;
	box-sizing: border-box;
	display: table;
	table-layout: fixed;
	border: 1px solid #dfdfdf
}

.jzg {
	display: table-cell;
	box-sizing: border-box;
	border-right: 1px solid #dfdfdf;
	padding: 75px 45px 215px;
	position: relative;
}

.yj {
	display: table-cell;
	width: 42.35%;
	box-sizing: border-box;
	border-right: 1px solid #dfdfdf;
	padding: 75px 45px 215px;
	position: relative;
}

.yjjzg img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	max-width: calc(100% - 90px);
	bottom: 67px;
	height: auto
}

.yjjzg h2 {
	color: #006cb8;
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 45px;
}

.yjjzg h3 {
	line-height: 36px;
	color: #282828;
	font-size: 18px;
	position: relative;
	padding-left: 24px
}

.yjjzg h3:before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #8893a3;
	position: absolute;
	left: 0;
	top: 17px;
}

.spirit {
	padding: 125px 0 90px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/jsbac_02.jpg)
}

.fzlc.wh {
	padding-bottom: 100px
}

.spirit li {
	margin-bottom: 42px;
	font-size: 0
}

.spirit li h6 {
	display: inline-block;
	width: 62px;
	font-size: 34px;
	color: #fff;
	vertical-align: top
}

.spirit li h5 {
	display: inline-block;
	vertical-align: top;
	width: 96px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}

.spirit li div {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 158px);
}

.spirit li p {
	line-height: 35px;
	color: #fff;
	font-size: 18px;
}

.spirit h2 {
	color: #fff;
	line-height: 38px;
	font-size: 36px;
	margin-bottom: 80px
}

.cp {
	padding-top: 188px;
}

.cptab {
	font-size: 0;
	margin-top: 75px
}

.cptab a {
	display: inline-block;
	width: 13.71%;
	margin-right: 0.671666666%;
	box-sizing: border-box;
	border: 1px solid #c8c8c8;
	text-align: center;
	margin-bottom: 0.671666666%;
	line-height: 46px;
	color: #282828;
	font-size: 18px;

}
.cptab .ac{
	color: #fff;
	background: #006cb8
}

.cptab a:nth-child(7n) {
	margin-right: 0
}

.cptab a:hover {
	color: #fff;
	background: #006cb8
}

.cptable {
	margin-top: 55px;
	padding-bottom: 100px
}

.cptable th h2 {
	font-weight: bold;
	color: #fff;
	font-size: 18px;
}

.cptable th {
	padding: 20px 35px;
	background: #006cb8
}

.cptable th span {
	font-size: 16px;
	color: rgba(255, 255, 255, .4);
	line-height: 22px;
}

.cptable td {
	padding: 2px 35px;
	color: #282828;
	font-size: 16px;
	line-height: 30px;

}

.cptable td,
.cptable th,
.cptable table {
	box-sizing: border-box;
	text-align: left;
	border: 1px solid #bcbcbc
}

.cplist {
	margin-top: 68px;
	padding-bottom: 73px
}

.cplist li {
	margin-bottom: 20px;
	box-sizing: border-box;
	font-size: 0;
	border: 1px solid #d2d2d2;
	position: relative;
}

.cplist li a {
	display: block;
	font-size: 0
}

.cpimgs {
	display: inline-block;
	vertical-align: middle;
	width: 44%;
	position: relative;

}

.cpimgs:after {
	content: "";
	display: block;
	width: 2px;
	height: 70%;
	position: absolute;
	right: -2px;
	top: 50%;
	transform: translateY(-50%);
	background: #e4e4e4
}

.cpimgs img {
	width: 100%
}

.cptxt {
	display: inline-block;
	vertical-align: middle;
	width: 56%;
	box-sizing: border-box;
	padding: 0 70px 0 148px;
}

.cptxt h2 {
	
	color:#282828;
	font-size: 24px;
	margin-bottom: 40px
}

.cptxt h2:after {
	content: '';
	display: block;
	width: 34px;
	height: 2px;
	background: #006cb8;
	margin-top: 44px
}

.cptxt p {
	padding-left: 15px;
	position: relative;
	color: #777777;
	font-size: 16px;

}

.cptxt p:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #006cb8;
	position: absolute;
	left: 0;
	top: 13px;
}
.cplist li:hover h2{
	color: #006cb8;
}
.cplist li span {
	height: 100%;
	text-align: center;
	width: 44px;
	background: #006cb8;
	color: #fff;
	font-size: 16px;
	writing-mode: vertical-lr;
	writing-mode: tb-lr;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 44px;
	opacity: 0;

}

.cplist li:hover {
	border-color: #006cb8
}

.cplist li:hover span {
	opacity: 1;
}

.cpxq {
	padding: 80px 0 87px;
	font-size: 0;
	display: table;
	width: 100%;
	table-layout: fixed
}

.cpxq_left {
	display: table-cell;
	vertical-align: top;
	width: 37%;
	box-sizing: border-box;
	padding-right: 52px;
	color: #282828;
}

.cpxq_left>img {
	width: 100%
}

.np a {
	display: block;
	padding: 15px 0;
	text-align: center;
	background: #eff1f3;
	margin-bottom: 11px;
	white-space: nowrap
}

.np a img {
	margin-right: 25px
}

.np a img:nth-child(1) {
	display: none
}

.np a span {
	display: inline-block;
	font-size: 16px;
	max-width: calc(100% - 60px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle
}

.np a:hover {
	color: #fff;
	background: #006cb8
}

.np a:hover img:nth-child(2) {
	display: none
}

.np a:hover img:nth-child(1) {
	display: inline-block
}

.cpxq_right {
	box-sizing: border-box;
	padding-left: 160px;
	display: table-cell;
	padding-top: 40px;
	border-left: 2px solid #e4e4e4
}

.cpxq_right h2 {
	color: #006cb8;
	font-size: 24px;
	margin-bottom: 40px;
}

.cpxq_right h2:after {
	content: '';
	display: block;
	width: 34px;
	height: 2px;
	background: #006cb8;
	margin-top: 49px
}

.cpxq_right h4 {
	color: #777777;
	font-size: 16px;
	line-height: 32px;
}

.cpxq_right p {
	line-height: 32px;
	color: #777777;
	font-size: 16px;
}

.cpxq_right p:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #006cb8;
	vertical-align: middle;
	margin-right: 10px
}

.cpxq_right h3 {
	line-height: 32px;
	color: #777777;
	font-size: 16px;
	margin-top: 35px
}

.webmap {
	padding: 115px 96px 125px;
	background-repeat: no-repeat;
	background-image: url(../img/webmapbac_01.jpg);
	background-size: cover
}

.webmap h2 a {
	color: #fff;
	padding-left: 80px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
	display: block
}

.weblist li {
	border: 1px solid #e3e3e3;
	line-height: 0;
	font-size: 0;
	margin-bottom: 8px;
}

.weblist li a {
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	padding: 0 35px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.weblist li a:first-child {
	width: 240px;
	padding: 0 60px 0 0;
	text-align: right;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: bold
}

.weblist li a:first-child:hover {
	background: transparent;
	color: #e31713
}

.weblist li:hover {
	background: #fff
}

.weblist li:hover a {
	color: #282828
}

.weblist li a:hover {
	background: #006cb8;
	color: #fff
}

.weblist li a:before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #006cb8;
	position: absolute;
	left: 0;
	top: -1px;
	opacity: 0;
}

.weblist li a:after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #006cb8;
	position: absolute;
	left: 0;
	bottom: -1px;
	opacity: 0;
}

.weblist li a:first-child:before,
.weblist li a:first-child:after {
	display: none
}

.weblist li a:hover:after,
.weblist li a:hover:before {
	opacity: 1;
}

.weblist li:nth-child(5) {
	margin-bottom: 78px
}

.fxsm {
	padding: 107px 0 115px;
	background: #eeeeee
}

.fxsm .container>img {
	display: inline-block;
	vertical-align: middle;
	width: 29.28%
}

.flsm_inner {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 80px;
	vertical-align: middle;
	width: 70.72%
}

.flsm_inner .ej_tit h3 {
	margin-left: 0;
	font-size: 36px;
}

.flsm_inner .ej_tit h2 {
	left: -90px;
}

.flsm_inner h3 {
	margin-bottom: 45px;
	font-size: 24px;
	color: #282828;
	font-weight: bold;
}

.flsm_inner p {
	margin-bottom: 30px;
	line-height: 28px;
	color: #282828;
	font-size: 16px
}

.flsm_inner h4 {
	color: #282828;
	font-weight: bold;
	font-size: 18px;
}

.flsm_inner p:last-of-type {
	margin-bottom: 0
}

.yqlj {
	font-size: 0;
	padding: 76px 0 104px
}

.yqlj>img {
	display: inline-block;
	vertical-align: top;
	width: 45.92%
}

.yqlj_right {
	display: inline-block;
	width: 54.08%;
	vertical-align: top;
	box-sizing: border-box;
	padding-top: 108px;
	padding-left: 60px
}

.yqlj_right .ej_tit h3 {
	margin-left: 60px
}

.yqlj_right .ej_tit h2 {
	transform: translateX(-25px)
}

.yqljlist {
	margin-top: 65px;
	box-sizing: border-box;
	padding-left: 60px
}

.yqljlist li {
	display: inline-block;
	vertical-align: top;
	width: 33.3333%;
	text-align: center;
	overflow: hidden;
}

.yqljlist li img {
	max-width: 100%;
	height: auto
}

.yqljlist li:hover img {
	transform: scale(1.125);
	-webkit-transform: scale(1.125);
	-ms-transform: scale(1.125)
}

.newlist {
	margin-top: 93px;
}

.newlist li {
	display: inline-block;
	vertical-align: top;
	width: 24.285%;
	margin-right: 0.953333%;
	margin-bottom: 30px;
	padding: 10px;
	box-sizing: border-box;
	background: #f1f4f8
}

.newlist li:nth-child(4n) {
	margin-right: 0
}

.new {
	padding: 188px 0 100px
}

.newlist li:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-size: 100% 100%;
	background-image: url(../img/newbac_03.jpg);
	opacity: 0;
}
.newlist li:hover:before{
	opacity: 1;
}
.more{
	text-align: center;
	margin-top: 65px
}
.more img:nth-child(2){
	display: none
}
.more h6{
	display: inline-block;
	cursor: pointer;
}
.more h6:hover img:nth-child(2){
	display: inline-block;
}
.more h6:hover img:nth-child(1){
	display: none
}
.xq_tit {
	border-bottom: 3px solid #006cb8;
	padding-bottom: 18px;
	margin-bottom: 60px;
	text-align: center
}

.xq_tit h2 {
	font-size: 30px;
	font-weight: bold;
	color: #282828;
	line-height: 36px
}

.xq_tit span {
	display: inline-block;
	color: #777777;
	font-size: 16px;
	line-height: 17px;
	margin-top: 20px;
	padding: 0 18px;
	border-right: 2px solid #e4e4e4
}

.xq_tit span:nth-child(2) {
	padding-left: 0
}

.share {
	display: inline-block
}

.share span {
	border-right: none;
	padding-right: 0
}

.share div {
	vertical-align: top;
	display: inline-block;
	margin-top: 20px
}

.share div a {
	background-position: center center !important;
	background-size: 20px;
	margin: 0;
	text-indent: 0;
	height: 25px;
	padding-left: 30px
}

.share div a:nth-child(2) {
	background-image: url(../img/qq.png);
	background-size: 16px
}

.share div a:nth-child(1) {
	background-image: url(../img/wx.png);
}

.share div a:nth-child(3) {
	background-image: url(../img/wb.png);
}

.share div a:nth-child(4) {
	padding-left: 0;
	letter-spacing: .2em;
	font-weight: bold;
	color: #006cb8;
	margin-left: 5px;
}
.newxq{
	margin-top: 60px;
	padding:  70px 0 125px;
	background: #fafafb
}
.xqinner{
	box-sizing: border-box;
	padding: 0 50px
}
.xqinner p{
	line-height: 32px;
	color:#555555;
	font-size: 18px;
	margin-bottom: 32px;
	text-indent: 2em
}
.xqinner p strong{font-size: 18px;font-weight: bold;}
.xqinner p img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto
}
.xqinner h6{
	margin-top: 80px;
	color:#555555;
	font-size: 18px
}
.xqnp{
	margin-top: 68px;
}
.xqnp a{
	display: inline-block;
	width: 50%;
	padding: 15px 0;
	text-align: center;
	background: #eff1f3;
	font-size: 16px;
	color:#282828;
}
.xqnp a img{
	margin-right: 25px
}
.xqnp a img:nth-child(1){
	display: none
}
.xqnp a:hover img:nth-child(2){
	display: none
}
.xqnp a:hover img:nth-child(1){
	display: inline-block
}
.xqnp a:hover{
	color:#fff;
	background: #006cb8
}
.tel{
	padding-bottom: 55px;
	border-bottom: 2px solid #0276bb;
	margin-top: 75px;
	margin-bottom: 88px;
}
.tel img{
	margin-left: 120px
}
.tel span{
	display: inline-block;
	vertical-align: bottom;
	color:#a5a5a5;
	font-size: 18px;
	margin-left: 35px
}
.lxfs{
	padding: 185px 0 85px;
}
.add li{
	width: 31.8%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 1px solid #dfdfdf;
	padding: 45px 35px;
	margin-right: 2.3%;
	margin-bottom: 15px;
	font-size: 0;
	text-align: center
}
.add li:nth-child(3n){
	margin-right: 0
}
.add li span{
	display: inline-block;
	width: 77px;
	height: 77px;
	border-radius: 50%;
	border: 1px solid #e9e9e9;
	line-height: 77px;
	text-align: center;
	vertical-align: middle
}
.add li font{
	color:#7c7c7c;
	font-size: 34px;
}
.add li div{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 79px);
	padding-left: 25px;
	text-align: left
}
.add li div i{
	line-height: 27px;
	color:#acacac;
	font-size: 18px;
	display: block
}
.add li div p{
	line-height: 27px;
	color:#282828;
	font-size: 18px;
}
.add li:hover font{
	color:#f60f14
}
.xswl{
	background-image: url(../img/xswlbac_02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 160px 0 80px;
	background-position: 0 100%
}
.xswl .ej_tit h2{
	color:rgba(255,255,255,.1)
}
.xswl .ej_tit h3{
	color:#fff
}
.xs{
	position: relative;

}
.xsfg{
	position: absolute;
	left: 70px;
	bottom: 150px
}
.xsmap{
	float: right;
	margin-right:130px;
	margin-top: -80px
}
.xsmap>img:nth-child(2){
	display: none
}
.xsfg h2{
	color:#fff;
	font-size: 30px;
	margin-bottom: 57px;
}
.xsbox{
	display: inline-block;
	border: 1px solid rgba(255,255,255,.4);
	padding: 20px ;
	margin-right: 18px;
	text-align: center
}
.xsbox h6{
	display: inline-block;
}
.xsnum{
	line-height: 0
}
.xsbox sup{
	display: inline-block;
	vertical-align: top;
	color:#fff;
	font-weight: bold;
	font-size: 30px;
}
.xsbox h6 .dataNums .tt span {
	font-size: 60px;
	color:#fff;
	font-family: Arial;
	font-weight: bold
}
.xsbox h6 .dataNums .dataOne{
	width: 34px;
}
.xsbox i{
	font-size: 14px;
	color:rgba(255,255,255,.5)
}
.xsmap{
	position: relative;
}
.map_item li{
	position: absolute
}
.map_item span{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: rgba(13,84,137,.3);
	position: relative;
	display: block;
	animation:twinkle 1s infinite alternate;
	-webkit-animation:twinkle 1s infinite alternate;
	/* Safari and Chrome */
}
.map_item span font{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .1);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%)
}
.map_item span font i{
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 1);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%)
}
.map_item li p{
	position: absolute;
	font-size: 18px;
	color:#fff;
	top: 50%;
	left: 70px;
	white-space: nowrap;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%)
}
.map_item li:nth-child(1) span font{
	background-position: center center;
	background-image: url(../img/star_03.png);
	background-repeat: no-repeat
}
@keyframes twinkle{
	from {
		background: rgba(13, 84, 137, .3);
	}

	to {
		background: rgba(13, 84, 137, .8);
	}
}
@-moz-keyframes twinkle {
	from {
		background: rgba(13, 84, 137, .3);
	}

	to {
		background: rgba(13, 84, 137, .8);
	}
}
@-webkit-keyframes twinkle {
	from {
		background: rgba(13, 84, 137, .3);
	}

	to {
		background: rgba(13, 84, 137, .8);
	}
}
@-ms-keyframes twinkle {
	from {
		background: rgba(13, 84, 137, .3);
	}

	to {
		background: rgba(13, 84, 137, .8);
	}
}
.map_item li:hover p{
	color:#f60f14
}
.dtdh{
	padding-top: 175px;
}
#allmap{
	width: 100%;
	height: 526px;
}
.map{
	margin-top: 60px;
}
.BMapLib_bubble_content div{
	font-size: 14px
}
.zptel{
	margin-top:55px;
	padding-left: 150px;
	margin-bottom: 56px
}
.zptel li{
	margin-bottom:30px

}
.zptel li span{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 28px;
	color:#a5a5a5;
	font-size: 18px;
}
.zplist li{
	display:inline-block;
	vertical-align: top;
	width: 31%;
	margin-right: 3.5%;
	box-sizing: border-box;
	border: 1px solid #d5d5d5;
	padding: 75px 65px 70px
}
.zplist li:nth-child(3n){
	margin-right: 0
}
.zplist li img{
	max-width: 100%;
	height: auto;
	margin-bottom: 40px;
}
.zplist li h2{
	color:#282828;
	font-size: 24px;
	margin-bottom: 12px;
}
.zplist li p{
	line-height: 16px;
	color:#a9a9a9;
	font-size: 12px;
	height: 32px;
	margin-bottom: 58px
}
.zplist li p:after{
	content:'';
	display: block;
	width: 19px;
	height: 2px;
	background: #006cb8;
	margin-top: 34px
}
.zplist li a{
	display: block;
	width: 160px;
	height: 38px;
	border-radius: 38px;
	border: 1px solid #d4d4d4;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.zplist li a:before{
	content:'';
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/moreback_03.png);
	background-size: 100% 100%;
	position: absolute;
	left: -100%;
	top: 0
}
.zplist li a span{
	line-height: 38px;
	color:#282828;
	font-size: 12px;
	position: relative;
	z-index: 2;
}
.zplist li a:hover:before{
	left: 0;
}
.zplist li a:hover span{
	color:#fff
}




.search_form>img {
	width: 100%
}

.search_form {
	position: relative;
}

.search_form form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	width: 39.27%;
	font-size: 0;
	line-height: 0;
	border: 1px solid #dbdbdb
}

.search_form button {
	width: 96px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	background: #0abad0;
	color: #fff;
}

.search_form button h6 {
	font-size: 26px
}

.search_form input {
	width: calc(100% - 96px);
	border: none;
	outline: none;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
	padding: 0 10px
}

.sslist {
	margin-top: 75px
}

.sslist li .container {
	padding: 15px 0;
	z-index: 2;
}

.sslist li {
	position: relative;
}

.sslist li:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/ssbac_02.jpg);
	background-size: 100% 100%;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0
}

.sslist li:hover:before {
	opacity: 1;
}

.sslist h2 {
	border-bottom: 1px dashed #dfdfdf;
	padding-bottom: 8px;
	color: #282828;
	font-size: 16px;
	margin-bottom: 5px
}

.sslist p {
	line-height: 20px;
	color: #999999;
}

.sslist li:hover h2,
.sslist li:hover p {
	color: #fff
}

.page {
	font-size: 0;
	padding: 60px 0
}

.page a {
	text-align: center;
	display: inline-block;
	width: 37px;
	height: 37px;
	border: 1px solid #c2c2c2;
	line-height: 37px;
	color: #282828;
	box-sizing: border-box;
	margin-right: 10px
}

.page a:hover,
.page a.ac {
	color: #fff;
	background: #0abad0;
	border-color: #0abad0
}

.page a h6 {
	display: inline-block
}

.page .ud {
	display: inline-block
}

.page span {
	font-size: 14px;
	line-height: 37px;
	color: #282828;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top
}
